{#
    Render "Start a Hangout" button

    Parameters - array:
        [
            'class' - default class
            'hangoutOptions' - options for Start a Hangout button
            'dataAttributes' - additional data attributes
        ]
#}
{% macro renderStartButton(parameters) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set pageComponent = {
        module: 'oroui/js/app/components/view-component',
        options: {
            view: 'orocrmhangoutscall/js/app/views/start-button-view',
            autoRender: true,
            hangoutOptions: parameters.hangoutOptions is defined ? parameters.hangoutOptions : {}
        }
    } %}
    <div class="start-hangout-button-placeholder{% if parameters.class is defined %} {{ parameters.class }}{% endif %}"
            {% if parameters.dataAttributes is defined and parameters.dataAttributes|length %}
                {{ UI.renderAttributes(parameters.dataAttributes) }}
            {% endif %}
            {{ UI.renderPageComponentAttributes(pageComponent) }}></div>
{% endmacro %}
