.icon-hangouts::before {
    content: '';
    background: url('#{$global-url}/orohangoutscall/img/hangouts-icon.png') no-repeat center;
    background-size: 14px 14px;
    width: 14px;
    height: 22px;
    display: inline-block;

    .mobile-version & {
        background-size: 17px 17px;
        width: 17px;
    }
}

.invite-hangout-modal {
    .invite-hangout-modal-participants {
        margin: 10px 0 10px 25px;

        .invite-hangout-modal-participant-name {
            font-weight: font-weight('bold');
            padding-right: 25px;

            &:empty {
                display: none;
            }
        }
    }

    .invite-hangout-modal-note {
        font-size: 11px;
        color: $primary-500;
        margin-bottom: 0;
    }

    .btn.cancel {
        vertical-align: top;
        height: 30px;
        margin-right: 5px;
    }

    .btn.ok {
        display: none;
    }
}

.start-hangout-button-placeholder {
    display: inline-block;
    vertical-align: bottom;
    height: 30px;
    // default size of hangout button
    min-width: 136px;

    &:empty {
        background: url('#{$global-url}/oroui/img/loader-16.gif') no-repeat center center;
    }

    &.disabled {
        display: none;
    }
}
