{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageComponent = {
    module: 'oroui/js/app/components/view-component',
    options: {
        view: 'orocrmhangoutscall/js/app/views/start-button-view',
        autoRender: true,
        hangoutOptions: {
            invites: invites is defined ? invites : []
        }
    }
} %}

<div class="start-hangout-button-place-holder" {{ UI.renderPageComponentAttributes(pageComponent) }}></div>
